APP_NAME=MatrixFlow Enterprise API
APP_VERSION=1.1.0
ENVIRONMENT=production
DEBUG=false
DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require
JWT_SECRET_KEY=CAMBIAR_POR_UN_SECRETO_LARGO_Y_ALEATORIO
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=https://TU-FRONTEND.vercel.app,http://localhost:5173
MAX_IMAGE_SIZE_MB=5
FACE_DET_SIZE=320
